@import url("https://fonts.googleapis.com/css?family=Oswald&display=swap");

body {
  padding: 0 !important;
  margin: 0 !important;
  width: 100vw;
  height: 100vh;
}

html {
  overflow-x: unset;
  overflow-y: unset;
}

p {
  font-size: 18px;
}

.glowing-border {
  border: 2px solid wheat;
  border-radius: 4px;
  box-shadow: 0 0 10px crimson;
}
